.teaser-movies__wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

a {
	text-decoration: none;
	color: white;
}

@media (max-width: 1024px) {
	.teaser-movies__wrapper {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	.teaser-movies__wrapper {
		grid-template-columns: 1fr;
	}
}

.global-header__header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	background-color: #2b2b2b;
	align-items: center;
}

.visible{
  display: none;
}

.teaser-movies__movie {
	position: relative;
	height: 200px;
}
.teaser-movies__figure {
	background: linear-gradient(#00000000, #000000b2);
	height: 100%;
	margin: 0;
}

.teaser-movies__title {
	position: absolute;
	cursor: pointer;
	bottom: 10px;
	margin: 0;
	z-index: 2;
	margin-left: clamp(5px, 5%, 10px);
	margin-right: clamp(5px, 5%, 10px);
}

.teaser-movies__picture,
.teaser-grid__image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.teaser-movies__figure::after {
	transition: opacity 0.6s ease-out;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: linear-gradient(#00000000, #000000b2);
	opacity: 0.7;
}

.teaser-movies__title::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	border-radius: 5px;
	height: 0.05em;
	bottom: 3px;
	left: 0;
	background: currentcolor;
	transform-origin: bottom right;
	transition: transform 0.6s ease-out;
}

.teaser-movies__title:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
	z-index: 2;
}

.teaser-movies__title:hover + .teaser-movies__figure::after,
.teaser-movies__title:hover::after {
	opacity: 1;
}

.teaser-movies__button{
  transition: opacity ease-out 0.75s;
  position: absolute;
  bottom: 4px;
  right: 4px;
  z-index: 2;
  cursor: pointer;
}

.teaser-movies__movie:hover .teaser-movies__button {
  opacity: 1;

}