.teaser-movies {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
}

@media (max-width: 1024px) {
  .teaser-movies {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .teaser-movies {
    grid-template-columns: 1fr; 
  }
} 

.teaser-movies__movie {
  position: relative;
  border: 1px solid white;
  height: 300px;
}
.teaser-movies__figure {
  height: 100%;
  margin: 0;
}

.teaser-movies__title{
  position: absolute;
  bottom: 10px;
  margin: 0;
}

.teaser-movies__picture,
.teaser-grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}